<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cocacola.climateambassador"
    android:versionCode="3"
    android:versionName="1.5" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <supports-screens android:requiresSmallestWidthDp="720" />

    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
            android:name=".core.CaApplication"
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:logo="@drawable/ic_logo"
            android:theme="@style/AppTheme" >

        <activity
            android:name=".core.activity.LandingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name=".core.activity.MainActivity"
                android:configChanges="orientation|keyboardHidden"
                android:label="@string/app_name"
                android:screenOrientation="landscape" >
        </activity>

        <activity
            android:name=".favorites.activity.FavoritesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Favorites"
            android:screenOrientation="landscape" >
        </activity>

        <activity
            android:name=".module.activity.ModuleActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" >
        </activity>

        <activity
            android:name=".module.activity.SectionModuleActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" >
        </activity>

        <activity
            android:name=".module.internal.fragment.ModuleCasesFragment"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" >
        </activity>

        <activity
            android:name=".module.suppliers.activity.ForSuppliersOverviewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" >
        </activity>

        <activity
                android:name=".section.activity.ForSuppliersActivity"
                android:configChanges="orientation|keyboardHidden"
                android:label="@string/title_activity_business_case_module"
                android:screenOrientation="landscape" >
        </activity>
        <activity
                android:name=".section.activity.InternalTrainingActivity"
                android:configChanges="orientation|keyboardHidden"
                android:label="@string/title_activity_key_interventions_module"
                android:screenOrientation="landscape" >
        </activity>
        <activity
                android:name=".module.internal.activity.RoleOfClimateAmbassadorActivity"
                android:configChanges="orientation|keyboardHidden"
                android:label="@string/nav_item_internal_training_climate_ambassador"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name=".module.suppliers.fragment.ForSuppliersVisionFragment"
                android:configChanges="orientation|keyboardHidden"
                android:label="@string/nav_item_for_suppliers_2020_vision"
                android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".cases.activity.CaseActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape">
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.cocacola.climateambassador.files"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>
    </application>

</manifest>
